SUPABASE_URL=https://qzxlgrerjoiamxvnkklq.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_DaJsnILCWdUIjl4cCaL3Jw_qLy8BPXK
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InF6eGxncmVyam9pYW14dm5ra2xxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzcxNDIxNDksImV4cCI6MjA5MjcxODE0OX0.RUSvtyzNId0H8LxCHjG9SpO5m_QyU63TUod2xaUKzmk
SUPABASE_SECRET_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_DB_URL=

NEXT_PUBLIC_SUPABASE_URL=https://qzxlgrerjoiamxvnkklq.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_DaJsnILCWdUIjl4cCaL3Jw_qLy8BPXK
